# 1. 변수와 출력함수

In [3]:
a, b, c = 3, 2, 1 # 이렇게 선언하면 왼쪽에 있는 변수에 오른쪽에 있는 값을 할당함
print(a, b, c)

3 2 1

### 값 교환

In [4]:
a, b = 10, 20
print(a, b)

10 20

In [ ]:
a, b = b, a # a와 b 값 교환이 가능하다
print(a, b)

20 10

### 변수 타입

In [7]:
a = 10
print(type(a))
b = 10.234
print(type(b))
c = "Hello"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 출력 방식

In [ ]:
print("number")
a, b, c = 1, 2, 3
print(a, b, c)
print("number : ", a, b, c)
print(a, b, c, sep=", ") # -> 내가 몰랐던 개념1 # sep은 출력할 때 사용하는 구분자
print(a, b, c, sep="\n") # -> 내가 몰랐던 개념2 # sep은 출력할 때 사용하는 구분자

number
1 2 3
number :  1 2 3
1, 2, 3
1
2
3

In [33]:
print(a, end=" ")
print(b, end=" ")
print(c)

1 2 3